<nav>
    <ul>
        <li>
            <a routerLink="/Product_Page">Product Page</a>
        </li>
        <li>
            <a routerLink="/checkout">Checkout</a>
        </li>
        <li>
            <a routerLink="/add">Add to Cart</a>
        </li>
        <li>
            <a routerLink = "/update">Update Profile</a>
        </li>
        <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
        <li>
            <a routerLink = "/current">View Cart</a>
        </li>
        <li>
            <a routerLink = "/logout">Logout</a>
        </li>
        <li>
            <a routerLink = "/profile">Profile</a>
        </li>
        <li>
            <a routerLink = "/pastorder">Previous Order</a>
        </li>
    </ul>
</nav>