<nav>
    <ul>
        <li>
            <a routerLink="/Product_Page">Product Page</a>
        </li>
        <!-- <li>
            <a routerLink="/pet/4">View Pet</a>
        </li> -->
        <li>
            <a routerLink="/add">Add to Cart</a>
        </li>
        <li>
            <a routerLink = "/instructions">View Instructions</a>
        </li>
        <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
        <li>
            <a routerLink = "/adopted">View Adopted Pets</a>
        </li>
        <li>
            <a routerLink = "/logout">Logout</a>
        </li>
        <li>
            <a routerLink = "/profile">Profile</a>
        </li>
    </ul>
</nav>